.matrix-table__table-wrapper {
  .react-transform-component {
    width: 100%;
    height: 100%;

    user-select: unset;
  }

  .react-transform-element {
    min-width: 100%;
    min-height: 100%;
  }
}
