$bgColor: #f4f4f4;

.container {
  width: 900px;
  height: 600px;
  padding: 20px;

  .tableWrapper {
    width: 860px;
    height: 480px;
    overflow: hidden;

    table {
      width: 900px;
      height: inherit;
      border-collapse: collapse;
      background: white;
      border-radius: 10px;
      margin: 200px;

      th {
        font-size: 16px;
        color: #03a9f4;
        font-weight: 100;
        width: 100px;
        white-space: nowrap;
        min-width: 140px;
        border: 1px solid $bgColor;

        &.empty {
          width: 40px;
        }
      }

      td {
        border: 1px solid $bgColor;
      }

      td.emptySlot {
        text-align: center;
        color: #c5c5c5;
        font-size: 26px;
        width: 40px;
      }

      td.gameSlot {
        width: 100px;
        height: 100px;

        div {
          width: 120px;
          height: 25px;
          margin: 0 auto;
          background-color: $bgColor;
          border-radius: 0 0 3px 3px;

          &:nth-child(1) {
            margin-bottom: 2px;
            border-radius: 3px 3px 0 0;
          }
        }
      }
    }
  }

  .btnsWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px 0px;
    padding: 8px 0px;
    border-radius: 10px;
  }
}
