.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;

  .label {
    font-size: 16px;
    font-weight: 600;
    color: #6a6a6a;
    margin-bottom: 7px;
    white-space: nowrap;
  }
}
