.team {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 95%;
  min-height: 42px;
  margin-bottom: 4px;
  padding: 3px 2px 3px 32px;

  font-size: 17px;
  line-height: 24px;
  color: #00a3ea;

  background-color: #ffffff;

  border-radius: 6px;

  &::before {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);

    content: '';
    width: 22px;
    height: 22px;

    background-color: #cdcfd2;

    border-radius: 50%;
  }
}

.teamEdit {
  @extend .team;
  cursor: grab;
}

.teamBtnsWrapper {
  margin: 0;
}

.delBtnWrapper {
  color: #ff0f19;
}

.btnsWrapper {
  display: flex;
}

.iconWrapper {
  padding: 6px 8px;
  display: flex;
}
