.form {
  display: flex;
  align-items: center;
  padding-left: 4px;
}

.divisionsList {
  display: flex;
  margin: 0;
  padding: 7px 0 0;
  list-style: none;
}

.divisionItem {
  display: flex;
  align-items: center;
  margin-right: 6px;
  color: #6a6a6a;
  font-size: 16px;
  line-height: 22px;

  &:last-child {
    margin-left: 0px;
  }
}

.divisionColor {
  display: block;
  margin-right: 6px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}
