.container {
  background: white;
  width: 170px;
  height: 25px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  font-size: 12px;
  color: #494949;
  padding: 0px 12px;
  display: flex;
  align-items: center;

  &.dropped {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 200px;
    padding-left: 30px;
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
  }
}
