.popupWrapper {
  width: 515px;
  padding: 25px 35px;
  font-size: 18px;
  line-height: 26px;

  .title {
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 26px;
    color: #6a6a6a;
  }

  .bodyWrapper {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: space-between;
    height: 162px;
  }

  .btnsWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;

    > button {
      margin-left: 20px;
    }
  }
}
