.zoomCntrols {
  z-index: 1;
  position: absolute;
  right: 10px;
  bottom: 10px;

  display: flex;
  flex-direction: column;
}

.zoomBtnsWrapper {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;

  border-radius: 8px;

  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.zoomIn,
.zoomOut {
  width: 30px;
  height: 30px;

  font-size: 20px;
  font-weight: 700;
  color: #6a6a6a;

  background-color: #ffffff;

  border: 0;

  cursor: pointer;

  border-radius: 8px;
}

.zoomIn {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.zoomOut {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.fullScreen {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0;

  border: 0;
  border-radius: 8px;

  cursor: pointer;

  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}
