.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 100%;
}

.sectionItem {
  flex-grow: 0;

  width: 30%;
  margin-bottom: 16px;

  color: #6a6a6a;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
}
.wMessage {
  color: #6a6a6a;
  margin-bottom: 10px;
}
.wBtnsWrapper {
  display: flex;
  justify-content: flex-end;
  & > :first-child {
    margin-right: 15px;
  }
}
