.container {
  width: 100%;
  min-width: 792px;
  margin-bottom: 25px;

  .sectionTitle {
    color: #1c315f;
  }
  .sectionContent {
    width: 100%;
    color: #6a6a6a;
    .title {
      font-weight: 600;
    }
    .info {
      & > * {
        padding: 5px 0;
      }
    }
    .details {
      padding-top: 15px;
      & > * {
        padding: 5px 0;
      }
    }
  }
  .buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
}
