.section {
  &::before {
    display: block;

    content: '';
    height: 80px;
    width: 1px;
    margin-top: -80px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    visibility: hidden;
    overflow: hidden;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 25px 0 0;
}
