.container {
  padding: 24px 15px;
  margin: 0 0 50px;
  background-color: #f4f4f4;
  border-radius: 0 5px 5px 5px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  min-height: 500px;
  display: flex;

  .seedsContainer {
    width: 230px;
    height: 490px;

    .seedsWrapper {
      background: #e8e8e8;
      margin-top: 12px;
      border-radius: 3px;
      overflow-y: scroll;
      height: 400px;
      overflow-x: hidden;

      h4 {
        text-align: center;
        font-size: 14px;
        color: #1c315f;
        padding: 15px 0;
      }

      .seedsList {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        .singleSeedWrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 4px;

          span {
            font-size: 12px;
            color: #575757;
            margin-right: 5px;
            width: 25px;
          }
        }
      }
    }
  }

  .bodyWrapper {
    width: calc(100% - 200px);
    padding-left: 20px;

    .bracketActions {
      height: 80px;
      margin-bottom: 2px;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;

      .cardMessage {
        display: flex;
        justify-content: flex-start;
      }

      .buttonsWrapper {
        display: flex;
        justify-content: flex-end;

        > button {
          margin-left: 15px;
        }
      }
    }
  }
}
