.container {
  height: 100%;

  .loadingWrapper {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.containerFullScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .diagnosticsContainer {
    margin: 0;
  }
}

.diagnosticsContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;

  > button {
    margin-right: 13px;
  }
}
