$containerWidth: 100%;

.container {
  width: $containerWidth;
  height: 200px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 2px dashed #e4e4e4;

  > svg {
    font-size: 30px;
    color: #00a3ea;
    margin: 15px;
  }

  > span {
    color: #525252;
  }

  > button {
    margin-top: 10px;
  }

  .uploadedWrapper {
    padding: 10%;
    display: flex;
    flex-direction: column;
    color: #606060;
    font-size: 15px;

    button {
      margin-top: 10px;
    }

    .uploadedWrapperText {
      color: #464646;
      font-weight: 600;
      padding-bottom: 4px;
      font-size: 16px;
    }
  }
}

.filesWrapper {
  padding: 10px 20px;
  width: 370px;
  background-color: #f9f9f9f9;
  margin-top: 10px;
  color: #525252;
  border-radius: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btnWrapper {
  .uploadedWrapper {
    display: flex;
    align-items: center;
    padding-left: 6px;
  }
}
.withoutRemoveBtnWrapper {
  display: flex;
  align-items: center;
  & > div {
    padding-left: 6px;
  }
}

.loadBtn {
  display: flex;
  align-items: center;

  // margin-bottom: 20px;

  color: #00a3ea;

  cursor: pointer;
}
.logo {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 10px;
}
